* {
    box-sizing: border-box;
  }
.nav-items-container{
    width: 100%;
    height: 80px;
    background-color: #6db8ff;
    display: flex;
    justify-content: space-between;

}

.nav-items-container .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:80px;
    font-size: 1.8rem;

}


.nav-items-container .nav-items a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;


}
.logo {
    height: 80px;
    padding-left: 100px;
    padding-top: -10px;

}

.hero-container {
    height: 100%;
    
}

 .hero-container .hero {
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}  

.fa-ellipsis-h {
    padding-top: -100px;
    color: #d1dbfa;
}


.hero-container .slogan {
    font-size: 8.3rem;
    font-family: 'Signika', sans-serif;
    /* margin-top: -700px; */
    font-weight: 900;
    color: #544db8;
    /* padding-left: 38px; */
    letter-spacing: 2px;
    position: absolute;
    bottom: 400px;
    left: 70px;
    padding-bottom: 30px;

}

.hero-container .font-awesome {
    margin-top: -430px;
    padding-left: 225px;
    padding-bottom: 10px;
}


/* .fa-arrow-down {
    display: flex;
    align-content: flex-end;
    justify-content: center;
    color: white;
} */

.hero-container p {
    font-family: 'Montserrat';
    color: gray;
    margin-left: 95px;
    font-size:1.3rem;
}
/* .hero-container i .fas fa-ellipsis-h {
    padding-left: 38px;
} */


/* ABOUT */
 /* .about-container{
    margin-top: 280px;
    width: 100%;
    height: 600px;
    background-color:#fafafa;
}  */

/* .about-container {
    margin-top: 280px;
    background-image:url(../assets/mockup.png);
    height:1000px;
    width:100%;
    background-size: cover;


}  */
 .about-container {
    display: flex;
    flex-flow: column;
    margin-top: 327px;
    background-image:url(../assets/transparent.png);
    height:500px;
    width:50%;
    background-size: contain;
    background-repeat: no-repeat;
    border-top: .4px solid gray;
   

}

.about-container .about-text {
    border-top: .4px solid gray;
    display: flex;
    height: 100%;
    margin-left: 100%;
    width: 100%;
    justify-content: center;
    
    
}

.about-container .about-text span h1 {
    font-size: 4.5rem;
    font-family: 'Poppins', sans-serif;
    color: #555555;
    margin-top: 145px;
    margin-bottom: 50px;
}

.about-container .about-text span p {
    font-size: 1.8rem;
    text-align: center;
    color: #bfbfbf;
    /* margin-top: 40px; */
}

 /* TESTIMONIALS  */
.about-two-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.about-two-container .allstars {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* flex-direction: column; */
    background-color: #97CCFF;
    /* background: url(../assets/bg2.png) no-repeat 50% fixed / cover; */
}


.about-two-container .allstars .austen {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 15px;
    justify-content: flex-end;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.about-two-container .allstars .luis {
    margin-top: 15px;
    width: 150px;
    height: 150px;
    display: flex;
    /* margin-left: auto;
    margin-right: auto; */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-bottom:20px;
    border-radius: 50%;
    margin-left: 10px;
}

.about-two-container .allstars span {
    margin-top: 40px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.about-two-container .allstars h2 {
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;


}
.about-two-container .allstars h3 {
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: white;


}
.about-two-container .allstars p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: white;

}

/* .about-three-container {
    display: flex;
    width: 100%;
    height: 100%;

} */

/* .about-three-container .about-three-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fafafa;

} */

/* about-three-container .about-three-content .notemates {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    border: 1px solid black;
    height: 200px;
}

.about-three-container .about-three-content span {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}


.about-three-container .about-three-content span h1 {
    width: 50%;
    display: flex;

    border: 1px solid red;
} */

.about-three-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.about-three-container .about-three-content{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #fafafa;
    /* background: url(../assets/bg2.png) no-repeat 50% fixed / cover; */
}


.about-three-container .about-three-content .notemates {
    width: 50%;
    height: 550px;
    display: flex;
    justify-content: flex-end;
   
}


.about-three-container .about-three-content span {
    color: black;
    text-align: center;
    width: 50%;
    font-family: 'Montserrat';
    display:flex;
    flex-direction: column;
    justify-content: center;
   
}
.about-three-container .about-three-content h2 {
    /* display: flex; */
    font-family: 'Karla', sans-serif;
    font-size: 8rem;
    color: #555555;


}
.about-three-container .about-three-content h3 {
    font-family: 'Karla', sans-serif;
    font-size: 1.8rem;
    color: #555555;
    
}

.plans-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.plans-container .plans-content{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #fafafa;
}


/* PLANS */

.plans-container {
  
    width: 100%;
    height: 100%;
    display: flex;
}

.plans-container .plans-content {
    flex-direction: column;
    width: 100%;
    height:700px;
    background: url(../assets/plansbg.svg) no-repeat 50% fixed / cover;
   
}

.plans-container .plans-content .box-one {
    width: 30%;
    border: 1px solid white;
    color: white;
    height: 250px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    text-align: center;

    align-items: center;
}

.plans-container .plans-content .box-two {
    width: 30%;
    border: 1px solid white;
    color: white;
    height: 250px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    text-align: center;

    align-items: center;



}

.plans-container .plans-content .box-one h1 {
    font-size: 2.5rem;
    font-family: 'Lilita One', cursive;

    
}

.plans-container .plans-content .box-one h2 {
    font-size: 5rem;
    font-family: 'Karla', sans-serif;

    
}
.plans-container .plans-content .box-one h3 {
    font-size: 1.8rem;
    font-family: 'Karla', sans-serif;

}

.plans-container .plans-content .box-two h1 {
    font-size: 2.5rem;
    font-family: 'Lilita One', cursive;

    
}

.plans-container .plans-content .box-two h2 {
    font-size: 5rem;
    font-family: 'Karla', sans-serif;

    
}
.plans-container .plans-content .box-two h3 {
    font-size: 1.8rem;
    font-family: 'Karla', sans-serif;

}

.draw-border {
    box-shadow: inset 0 0 0 4px white;
    color: white;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .draw-border:hover {
    color: #6db8ff;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #6db8ff;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Montserrat', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
  }
  .btn:focus {
    outline: 2px dotted #55d7dc;
  }
 /* footer */
 .footer-container {
    width: 100%;
    height: 140px;
    display: flex;
 }
 .footer-container .footer-content {
    display: flex;
     background-color: #6db8ff;
     width: 100%;
     flex-direction: column;
     height: 140px;
     
 }
 .footer-container .footer-content h1 {
    font-size: 2rem;
    font-family: 'Lilita One', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    width: 100%;

 }

 .footer-container .footer-content a {
    display: flex;
    flex-direction: row;
    color: white;

 }

 .footer-container .footer-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

 }

 .footer-container .footer-content .icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    align-items: flex-end;

 }

 .footer-container .footer-content .icons a {
     padding-left: 10px;
 }

 .footer-container .footer-content .icons .login {
    font-family: 'Montserrat', sans-serif;

    font-size: 1.2rem;
 }

 .footer-container .footer-content .icons .register{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
 /* .footer-container .footer-content P {
    border: 1px solid red;
    font-family: 'Lilita One', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 20%;
    width: 10%;


 } */

/* // ******SIGN IN */

.form-container {
    /* width: 100%; */
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;


}

.form-container form {
    background-color: #6db8ff;
    box-shadow: 0 2px 1px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 500px;
    width: 50%;
    justify-content: center;
    border-radius: 20px;


}

.form-container .logo-login {
    height: 150px;
}

.form-container h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #fafafa;
    margin-top: -30px;
}

.form-container .user-container {
    margin: 10px;
   
}

.form-container label {
    font-size: 1.4rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
    outline: none;
    transition: 0.3s;
   
}

::placeholder {
    color: white;
}

.form-container input {
    border: none;
    padding: 10px;
    border-bottom: 1px solid lightgray; 
    background-color: transparent;
    outline: none;
    color: white;
}
.form-container .signin {
    margin-top: 10px;
}


.form__button {
    margin-top: 20px;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    color: aliceblue;
    background-color: #53caee; 
    outline: none; 
    cursor: pointer; 
    transition: 0.3s; 
    font-family: 'Poppins', sans-serif;
}

.form__button:focus,
.form__button:hover {
background-color: #5bacc5; 
}

.facebook-container {
    font-size: 1rem;
}

/* NOTES */
/* .notes-note-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border: 1px solid red;
    display: block;
} */

.app-container {
    max-width: 1300px;
    margin: 20px auto;
    min-height: 500px;
    min-width: 700px;
    overflow: hidden;
    box-shadow: 0 3px 8px #676767;
  }
  @media (min-width: 0) {
    .app-container {
      margin: 0 auto;
      height: 100vh;
    }
  }
  @media (min-width: 1300px) {
    .app-container {
      margin: 20px auto;
      height: calc(100vh - 40px);
    }
  }
  
  #panel #noteslist #tools, #panel .note {
    border-bottom: 2px solid #4a5059;
  }
  
  .tag {
    margin: 0.3em 0.3em 0.2em 0;
    border-radius: 13px;
    height: 23px;
    border: 2px solid #cfcfcf;
    color: #878481;
    background-color: transparent;
    min-width: 42px;
    width: auto;
    text-align: center;
    display: inline-block;
    line-height: 0.85em;
    font-size: 0.85rem;
  }
  .tag .selected {
    border: 2px solid #62656d;
    color: #95999d;
  }
  .tag span {
    display: inline-block;
    margin: 0.59em 1.42em 0;
  }
  
  .header {
    height: 65px;
  }
  
  #panel {
    background-color: #333;
    width: 300px;
    height: 100%;
    float: left;
  }
  #panel #tabs {
    background-color: #474747;
  }
  #panel #tabs li {
    float: left;
    width: 75px;
    height: 65px;
    font-size: 22px;
    text-align: center;
    position: relative;
  }
  #panel #tabs li.selected {
    background-color: #333;
  }
  #panel #tabs li.selected span {
    color: #fff;
  }
  #panel #tabs li .fa {
    color: #cdcdcf;
    margin-top: 23px;
  }
  #panel #tabs li .fa:hover {
    color: #fff;
  }
  #panel #tabs li .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 6px;
    border-radius: 2px;
    font-size: 0.6em;
    position: absolute;
    top: 0;
    left: 43px;
    z-index: 10;
    transition-property: visibility;
  }
  #panel #tabs li a:hover .tooltiptext {
    visibility: visible;
    transition-delay: 650ms;
  }
  #panel .currentpanel {
    display: block !important;
  }
  #panel #noteslist {
    display: none;
  }
  #panel #noteslist #tools {
    text-align: center;
    height: 56px;
  }
  #panel #noteslist #tools:last-of-type {
    border-top: 1px solid #4a5059;
  }
  #panel #noteslist #tools .newnote {
    box-sizing: border-box;
    height: 36px;
    width: 120px;
    float: right;
    border-radius: 3px;
    background-color: #4a90e2;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5rem;
    margin: 10px;
  }
  #panel #noteslist #tools .newnote:hover {
    background-color: #3080de;
  }
  #panel #noteslist #tools .sort {
    cursor: pointer;
    float: left;
    color: #fff;
    margin-top: 18px;
    margin-left: 14px;
    position: relative;
  }
  #panel #noteslist #tools .sort span {
    margin: auto 5px;
  }
  #panel #noteslist #tools .sort ul {
    cursor: default;
    text-align: left;
    display: none;
    z-index: 20;
    position: absolute;
    height: 120px;
    width: 130px;
    background-color: #474747;
    top: 22px;
    font-size: 1.1rem;
    color: #dee5ed;
    font-weight: bold;
    line-height: 2.2rem;
    border: 1px solid #616161;
    padding: 8px 3px 8px 10px;
    box-shadow: 0 2px 17px 2px black;
  }
  #panel #noteslist #tools .sort:hover ul {
    display: block;
  }
  #panel #noteslist #tools:before, #panel #noteslist #tools:after {
    content: '';
    display: table;
  }
  #panel #noteslist #tools:after {
    clear: both;
  }
  #panel .body {
    overflow-y: scroll;
  }
  @media (min-width: 0) {
    #panel .body {
      height: calc(100vh - 65px - 56px - 2px);
    }
  }
  @media (min-width: 1300px) {
    #panel .body {
      height: calc(100vh - 65px - 56px - 42px);
    }
  }
  #panel .note {
    cursor: default;
height:100%;
    padding: 10px 14px;
    margin: 0;
    color: #8f959b;
  }
  #panel .note h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #dee5ed;
    font-weight: bold;
    padding-right: 12px;
  }
  #panel .note p {
    margin: 7px 0;
    padding-right: 12px;
  }
  #panel .note .date {
    margin: 2px 0 0;
    float: left;
    font-size: 0.9rem;
  }
  #panel .note .action {
    margin: 0 2px 0 15px;
    float: right;
    font-size: 1.3em;
    visibility: hidden;
    cursor: pointer;
  }
  #panel .note .action:hover {
    color: #fff;
  }
  #panel .note.selected {
    background-color: black;
  }
  #panel .note.selected:hover {
    background-color: black !important;
  }
  #panel .note:hover {
    background-color: #212121;
  }
  #panel .note:hover .action {
    visibility: visible;
  }
  
  #edit {
    height: 100%;
    background-color: #fff;
    color: #212121;
  }

  #edit #tools {
    background-color: #f2f2f2;
  }
  #edit #tools .menu-toggle {
    width: 30px;
    height: 52px;
    float: right;
    text-align: center;
    padding-top: 12px;
    padding-right: 27px;
  }
  #edit #tools .menu-toggle span {
    box-sizing: border-box;
    cursor: pointer;
    font-size: 24px;
    color: #767676;
    line-height: 42px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  #edit #tools .menu-toggle span:hover {
    background-color: #ababab;
    color: #fff;
  }
  #edit #tools #tags {
    box-sizing: border-box;
    padding-top: 15px;
    float: left;
    height: 65px;
    max-width: calc(100% - 300px - 265px);
  }
  #edit #tools #tags li {
    margin-right: 10px;
    display: inline-block;
  }
  #edit #tools #toolbar {
    margin-top: 17px;
    margin-left: 19px;
    box-sizing: border-box;
    float: left;
    height: 40px;
    max-width: calc(100% - 300px - 265px);
    white-space: nowrap;
    overflow: hidden;
  }
  @media (min-width: 0) {
    #edit #tools #toolbar {
      width: 100px;
    }
  }
  @media (min-width: 768px) {
    #edit #tools #toolbar {
      width: 300px;
    }
  }
  #edit #tools #toolbar li {
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    min-width: 26px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
  }
  #edit #tools #toolbar li > span {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    color: #545454;
    cursor: pointer;
    margin: 8px;
  }
  #edit #tools #toolbar li > span.fa {
    font-size: 14px;
    line-height: 14px;
  }
  #edit #tools #toolbar li:hover {
    color: #fff;
    border-color: #ccc;
    box-shadow: 0 1px 1px #888;
    background-color: #d8d8d8;
  }
  #edit #tools #actions {
    float: right;
    width: 195px;
    height: calc(100% - 65px);
    background-color: #d9e8f9;
  }
  #edit #tools #actions li {
    text-align: center;
    margin: 12px 8px;
    display: inline-block;
  }
  #edit #tools #actions span {
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    padding: 8px;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    font-size: 21px;
    line-height: 1rem;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    color: #4a90e2;
    vertical-align: middle;
    display: table-cell;
    margin: 0 auto;
  }
  #edit #tools #actions span:hover {
    background-color: #4a90e2;
    border-color: #4a90e2;
    color: #fff;
  }
  #edit #editor {
    font-family: "Roboto Mono", monospace;
    overflow-y: hidden;
    float: left;
    height: calc(100% - 65px);
    width: calc(100% - 300px);
    background-color: #fff;
  }
  #edit #editor input {
    box-sizing: border-box;
    padding: 0 45px;
    font-size: 1.45rem;
    width: 100%;
    height: calc(56px + 2px);
    line-height: calc(56px + 2px);
    font-weight: 500;
    outline: none;
    overflow: none;
    box-shadow: none;
    border: 0;
    border-bottom: 2px solid #f2f2f2;
  }
  #edit #editor #content {
    box-sizing: border-box;
    padding: 14px 45px;
    font-size: 1.1rem;
    width: 100%;
    resize: none;
    overflow-y: hidden;
    height: 500px;
    outline: none;
    overflow: none;
    box-shadow: none;
    border: 0;
  }
  #edit #editor [contentEditable=true]:empty:before {
    content: attr(data-text);
    color: #b1a9a9;
  }
  


  .add-note {
    padding: 10px 20px;  
    border: none; 
    border-radius: 5px; 
    color: aliceblue;
    background-color: #53caee; 
    outline: none; 
    cursor: pointer; 
    transition: 0.3s; 
    font-family: 'Poppins', sans-serif;
}


/* // SINGLE NOTE CONTAINER */
.single-note-container {
  border: 1px solid red;
  display: flex;
  width: 100%;
}

@media (max-width: 400px) {
    .hero-container .slogan {
        font-size: 30px;
        
    }

    
}